.footer-div {
    min-height: 15vh;
}

.main-footer {
    min-height: 12vh;
    display: table;
    width: 100%;
}

.main-footer-container {
    display: table-cell;
    vertical-align: middle;
}

.main-footer-div {
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    display: flex;
}

.footer-end {
    color: rgb(159, 158, 158);
    justify-content: center;
    display: flex;
    background-color: rgb(236, 236, 236);
    text-align: center;
}

.footer-links {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.icon-div {
    justify-content: center;
    display: flex;
}

/* .footer-start {
    justify-content: space-between;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 9vh;
}

.footer-end {
    justify-content: center;
    display: flex;
    height: 100%;
    margin-bottom: 0px;
    background-color: whitesmoke;
    color: rgb(202, 202, 202);
}

.footer-main {
    width: 100%;
    display: table;
    background-color: whitesmoke;
    color: rgb(120, 119, 119);
}

.footer-container {
    display: table-cell;
    vertical-align: middle;
}

.footer-logo {
    min-height: 15vh;
    height: 20vh;
} */